@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.table-header {
    background-color: #939393;
    font-weight: bold;

  }
  .clickable {
    cursor: pointer;
  }
  
  /* Style for the table and its elements */
  .table-bordered {
    border: 1px solid #ddd; /* Add borders to create a box-like appearance */
  }
  
  .table tr, .table th, .table td {
    border: 1px solid #ddd; /* Add borders to create a box-like appearance */
  }