<div class="container">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
        
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search tasks..."
              [(ngModel)]="searchTerm"
              name="searchTerm"
            />
            <button class="btn btn-outline-secondary" (click)="searchTasks()">
              <i class="bi bi-search"></i> <!-- Bootstrap Icons search icon -->
            </button>
          </div>
        </div>
        <div>
          <button routerLink="/task-form" class="btn btn-success">Add New Task</button>
        </div>
      </div>
    <h1 class="mt-4">Task List</h1>
   
      <table class="table table-bordered">
        <thead class="table-header table-secondary">
          <tr>
            <th scope="col" class="col title">#</th>
            <th scope="col" >Title</th>
            <th scope="col">Desc</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks$ | async">
            <td>{{ task.id }}</td>
            <td>{{ task.naslov }}</td>
            <td>{{ task.opis }}</td>
            <td>{{ task.opravljeno }}</td>
            <td *ngIf="!task.opravljeno">
              <button class="btn btn-success">Done</button>
              <button [routerLink]="['/task-form', task.id]" class="btn btn-primary">Edit</button>
              <button (click)="deleteTask(task.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    
  </div>